/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: steelblue;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
  
:root {
	--light: floralwhite;
	--dark: #26334f;
	--highlight-select: gold;
	--highlight-text: midnightblue;
	--site-border: 2rem;
}

/*system elements to dark/light prefered mode*/
html{ 
	color-scheme: dark light;
}

body>* {
	box-sizing: border-box;
}
 
body {
	margin: 0;
	font-family: 'Quattrocento Sans', 'Helvetica', 'Arial', sans-serif;
	font-size: clamp(0.95rem, 0.6522rem + 1.391vw, 1.3rem);
	line-height: 1.5;
	word-wrap: break-word;
	overflow-wrap: break-word;
	background-color: var(--base);
	color: var(--text);
}

body:not(.dark-mode) {
    --base: floralwhite;
    --text: #26334f;
	--highlight: #46a6fbd9;
	--border-color: #78ace3;
    --switch-image: url(../images/moon.svg);
}

.dark-mode {
    --base: #26334f;
    --text: floralwhite;
	--highlight: steelblue;
	--border-color: #6a96c5;
    --switch-image: url(../images/sun.svg);
}

:where(h1, h2, h3, figure, p) {
	margin: 0;
}

:where(h1, h2, h3, h4){
	font-family: "Cormorant Garamond", "Georgia", serif; 
}

p {
	font-family: "Quattrocento Sans";
	
}

h1{
	font-size: 4em;	
	font-weight: 700;
}

h2{ 
	font-size: 1.5em;
	
}

p {
	padding: 0.5em 0;
	font-weight: 300;
}

::-moz-selection { /* for Firefox */
	background: var(--highlight-select);
	color: var(--highlight-text);
  }

::selection {
	background: var(--highlight-select);
	color: var(--highlight-text); 
}

img {
	width: 100%;
	height: auto;
}

a {
	color: var(--text);
	text-decoration: underline;
	font-weight: 700;
	cursor: pointer;
  }

  a:hover,
  a:focus {
	  color: var(--highlight);
  }

/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/

/* ------- light/dark mode ------- */

.light-switch-btn {
    position: fixed;
	padding: 0.5em;
	bottom: 0;
	right: 10px;
	cursor: pointer;
    background-color: var(--base);
    border: none;
	border-radius: 10px 10px 0 0;
	z-index: 1;
}

.switch-image {
    width: 27px;
    height: 25px;
    margin: 10px auto;
    background-image: var(--switch-image);
    background-size: cover;
    background-repeat: no-repeat;
}

/* ----- navigation ----- */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
	height: 100px;
}

nav li {
	list-style-type: none;
	float: left;
	padding: 0 15px;
	font-size: 1.1rem;
 }

.home-name {
	text-decoration: none;
}

#home, #cv {
	justify-content: flex-end;
}
  
@media screen and (max-width: 40em){
	nav {
		height: 50px;
	}
}

/* ------- footer ------- */

.colophon {
	padding: var(--site-border);
	text-align: center;
	border-top: 1px solid var(--text);
}

.colophon p {
	padding: 0;
	font-size: 75%;
}

.colophon a {
	font-weight: 400;
	cursor: pointer;
}

.confirm-box{
    position: fixed;
	bottom: 0;
	left:0;
	width: 100vw;
    z-index: 2;
    text-align: center;
    background: var(--text);
    color: var(--base);
    font-size: 150%;
	padding: 1rem 0;
	font-style: normal;
    display: none;
  }

.colophon .contacts{
	list-style-type: none;
	padding: 0;
    display: flex;
    flex-direction: row;
	justify-content: center;
}

.colophon .contacts svg{
	width: 38px;
    height: auto;
	display: inline-block;
    margin-right: 8px; 
	color: var(--text);
}

.colophon .contacts svg:hover{
	opacity: 0.9;
	color: var(--highlight);
}

@media screen and (min-width: 30em) {
	.footer-info{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

/*--------------------------------------------------------------
Basic responsive layout for all browsers:
--------------------------------------------------------------*/

.site {
	max-width: 50em;
	margin: 0 auto;
}

/*--------------------------------------------------------------
CSS Grid layout for modern browsers:
--------------------------------------------------------------*/

@supports (grid-area: auto) {

	/* @media screen and (min-width: 40em) { */

		/* .posts{
			gap: 0.5rem;
			grid-template-columns: repeat(2, 1fr); */
			/* grid-template-rows: repeat(3, 1fr); */
			/* grid-template-areas: "one two"
								 "thr two"
								 "thr for"; */
		/* } */

		/* .post:nth-child(1){
			grid-area: one;
		}

		.post:nth-child(2){
			grid-area: two;
		}

		.post:nth-child(3){
			grid-area: thr;
		}

		.post:nth-child(4){
			grid-area: for;
		} */

	@media screen and (min-width: 50em) {

		.site {
			max-width: none;
			display: grid;
			grid-template-columns: auto 35em auto;
		}

    	.navigation {
			 grid-column: 1/4;
    	}

		.masthead {
			grid-column: 2/3;
			margin: 0;
			font-size: 100%;
		}

		.main-area {
			grid-column: 2/3;
		}

		.intro {
			grid-column: 2/3;
			margin: 0 0 3em 0;
		}

		.project .header{
			grid-column: 2/3;
		}

		.project .article{
			grid-column: 2/3;
		}

		.about-site{
			grid-column: 2/3;
		}

		.cv-header{
			grid-column: 2/3;
		}

		.cv{
			grid-column: 2/3;
		}

		.colophon {
			grid-column: 2/3;
		}
	}

	@media screen and (min-width: 65em) {

		.site {
			grid-template-columns: auto 40em auto;
		}

		.masthead {
			font-size: 150%;
		}
	}
}