
/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: steelblue;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
  
:root {
	--light: floralwhite;
	--dark: #26334f;
	--highlight-select: gold;
	--highlight-text: midnightblue;
	--site-border: 2rem;
}

/*system elements to dark/light prefered mode*/
html{ 
	color-scheme: dark light;
}

body>* {
	box-sizing: border-box;
}
 
body {
	margin: 0;
	font-family: 'Quattrocento Sans', 'Helvetica', 'Arial', sans-serif;
	font-size: clamp(0.95rem, 0.6522rem + 1.391vw, 1.3rem);
	line-height: 1.5;
	word-wrap: break-word;
	overflow-wrap: break-word;
	background-color: var(--base);
	color: var(--text);
}

body:not(.dark-mode) {
    --base: floralwhite;
    --text: #26334f;
	--highlight: #46a6fbd9;
	--border-color: #78ace3;
    --switch-image: url(../images/moon.svg);
}

.dark-mode {
    --base: #26334f;
    --text: floralwhite;
	--highlight: steelblue;
	--border-color: #6a96c5;
    --switch-image: url(../images/sun.svg);
}

:where(h1, h2, h3, figure, p) {
	margin: 0;
}

:where(h1, h2, h3){
	font-family: "Cormorant Garamond", "Georgia", serif; 
}

p {
	font-family: "Quattrocento Sans";
	
}

h1{
	font-size: 4em;	
	font-weight: 700;
}

h2{ 
	font-size: 1.5em;
	
}

p {
	padding: 0.5em 0;
	font-weight: 300;
}

::-moz-selection { /* for Firefox */
	background: var(--highlight-select);
	color: var(--highlight-text);
  }

::selection {
	background: var(--highlight-select);
	color: var(--highlight-text); 
}

img {
	width: 100%;
	height: auto;
}

a {
	color: var(--text);
	text-decoration: underline;
	font-weight: 700;
	cursor: pointer;
  }

  a:hover,
  a:focus {
	  color: var(--highlight);
  }

/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/

/* ------- light/dark mode ------- */

.light-switch-btn {
    position: fixed;
	padding: 0.5em;
	bottom: 0;
	right: 10px;
	cursor: pointer;
    background-color: var(--base);
    border: none;
	border-radius: 10px 10px 0 0;
	z-index: 1;
}

.switch-image {
    width: 27px;
    height: 25px;
    margin: 10px auto;
    background-image: var(--switch-image);
    background-size: cover;
    background-repeat: no-repeat;
}

/* ----- navigation ----- */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
	height: 100px;
}

nav li {
	list-style-type: none;
	float: left;
	padding: 0 15px;
	font-size: 1.1rem;
 }


.home-name{
	text-decoration: none;
	font-family: "Cormorant Garamond";
}

#home, #cv {
	justify-content: flex-end;
}
  
@media screen and (max-width: 40em){
	nav {
		height: 50px;
	}
}

/* ------- intro ------- */

.masthead{
	font-size: 75%;
	padding: 4rem var(--site-border) 1rem;
}

.parallax{
	display:none
}

@supports (grid-area: auto) {

	.masthead{
		display: grid;
		justify-items: center;
		grid-template-areas: "point" "title";
	}
	
	.parallax{
		display:inline;
		max-width: 100px;
		max-height: 100px;
		grid-area: point;
	}
	
	.headers{
		padding: 1rem 0;
		grid-area: title;
	}

	@media screen and (max-width: 40em){
		.headers{
			text-align: center;
		}
	}

	@media screen and (min-width: 40em) {
		.masthead{
			grid-template-areas: "title point" ;
			justify-items: start;
			align-items: center;
		}
	}
}

.intro {
	padding: var(--site-border);
}

/* ------- stories ------- */

.blog {
	padding: var(--site-border);
	padding-top: 0;
}

.blog ul{
	list-style-type: none;
	padding:0;
	margin: 0;

	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(auto-fill, minmax(min(100%,250px),1fr));
}

.card{ 
	margin: 0;
	display: grid;
	grid-template-columns: subgrid;
}

.card picture,
.caption {
	grid-column: 1;
	grid-row: 1;
}

.link {
	--border: 0.5rem;
	--gap: clamp(1.2rem, calc(1rem + 0.1vw), 1.25rem);

	display: grid;
	grid-template-columns: subgrid;
	align-content: end;
	gap: var(--gap);

	aspect-ratio: 1;
	padding: var(--border);
	line-height: 1;
	text-decoration: none;

	transition: all 0.25s;
	background: var(--border-color);
	
	& img {
		position:relative;
		top: 50%;
		left:50%;
		translate: -50% -50%;
		object-fit: cover;
	}

	&:hover,
	&:focus {
		--border: 1rem;
		color: var(--text);
	}

	& span {

		position: relative;
		background: var(--border-color);
		color: var(--dark);
		max-width: 95%;

		&.subtitle {
		padding: 4px 4px;
		font-size: 1.45rem;
		line-height: 1.5;
		}

		&.title {
		text-transform: uppercase;
		padding: 12px 0 6px;
		font-size: 1.25rem;
		font-weight: 800;
		letter-spacing: 2px;
		line-height: 1.2;
		}
	}

	&[href="/first"] {
		--border-color: #a4bf8d;
	}
	&[href="/about"] {
		--border-color: #b48ead;
	}
	&[href="/projects"] {
		--border-color: #d18771;
	}
	&[href="/articles"] {
		--border-color: #ebca89;
	}
}

/* ----- project ----- */

.project .header .page-title{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding: var(--site-border);
	max-width: calc(var(--content-width) - 4rem);
  }
  
.project figure {
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.project .full-width img {
	width: 100%;
	height: 600px;
	object-fit: cover;
	justify-content: center;
}

.project main>* {
	padding: var(--site-border);
}

.project h3{
	padding: 2rem 0 0.25rem;
}

.project .highlight {
	background-color: var(--highlight);
	color: var(--text);
}

.project .article {
	padding-bottom: 3rem;
}

/* ------- sources ------- */

.project .sources h3 {
	padding: 3rem 0 0.25rem;
	margin: -20px 0;
}

.project .sources >*{
	list-style-type: none;
	padding: 0.5rem 0 2rem;
	margin: 0;
}

/* ------- share ------- */

.share .btn{
	padding: 10px;
	text-decoration: none;
	font-weight: 400;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px 0px;
}

.share .btn:hover{
	padding: 9px;
	border: 1px solid var(--highlight);
}

/* ------- cv ------- */

.cv-header {
	padding: 0 var(--site-border);
}

.cv {
	padding: var(--site-border);
}

.cv-header h1 {
	font-size: 1.8em;
	/* font-weight: 300; */
}

.cv h2 {
	font-size: 1.25em;
	opacity:0.5;
}

.cv li >* {
	margin: 0;
	padding: 0;
}

.cv .description {
	margin-bottom: 40px;
}

.cv-update{
	font-size: 75%;
	padding-bottom: 10px;
	opacity:0.5;
}

.cv-section ul {
	list-style-type: none;
	padding:0;
}

.cv .role{
	font-size: 1.2em;
	font-weight: 500;
}

.cv .place{
	font-size: 1.2em;
}

.cv .date{
	font-style: italic;
	font-size: 75%;
	opacity: 0.5;
	margin-bottom: 10px;
}

.cv a{
	font-weight: 400;
}

@supports (writing-mode:sideways-lr){
	.cv h2{
		writing-mode:sideways-lr;
		text-align: right;
		margin:5px 30px 0 -5px;
	}

	.cv-section{
		display: flex;
	}

	.cv-section >* {
		margin:0;
	}
}

/* ------- footer ------- */

.colophon {
	padding: var(--site-border);
	text-align: center;
	border-top: 1px solid var(--text);
}

.colophon p {
	padding: 0;
	font-size: 75%;
}

.colophon a {
	font-weight: 400;
	cursor: pointer;
}

.confirm-box{
    position: fixed;
	bottom: 0;
	left:0;
	width: 100vw;
    z-index: 2;
    text-align: center;
    background: var(--text);
    color: var(--base);
    font-size: 150%;
	padding: 1rem 0;
	font-style: normal;
    display: none;
  }

.colophon .contacts{
	list-style-type: none;
	padding: 0;
    display: flex;
    flex-direction: row;
	justify-content: center;
}

.colophon .contacts svg{
	width: 38px;
    height: auto;
	display: inline-block;
    margin-right: 8px; 
	color: var(--text);
}

.colophon .contacts svg:hover{
	opacity: 0.9;
	color: var(--highlight);
}

@media screen and (min-width: 30em) {
	.footer-info{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

/*--------------------------------------------------------------
Basic responsive layout for all browsers:
--------------------------------------------------------------*/

.site {
	max-width: 50em;
	margin: 0 auto;
}

/*--------------------------------------------------------------
CSS Grid layout for modern browsers:
--------------------------------------------------------------*/

@supports (grid-area: auto) {

	/* @media screen and (min-width: 40em) { */

		/* .posts{
			gap: 0.5rem;
			grid-template-columns: repeat(2, 1fr); */
			/* grid-template-rows: repeat(3, 1fr); */
			/* grid-template-areas: "one two"
								 "thr two"
								 "thr for"; */
		/* } */

		/* .post:nth-child(1){
			grid-area: one;
		}

		.post:nth-child(2){
			grid-area: two;
		}

		.post:nth-child(3){
			grid-area: thr;
		}

		.post:nth-child(4){
			grid-area: for;
		} */

	@media screen and (min-width: 50em) {

		.site {
			max-width: none;
			display: grid;
			grid-template-columns: auto 35em auto;
		}

    	.navigation {
			 grid-column: 1/4;
    	}

		.masthead {
			grid-column: 2/3;
			margin: 0;
			font-size: 100%;
		}

		/* .blog h2{
			margin: 0;
			font-size: 3em;
		} */

		.main-area {
			grid-column: 2/3;
		}

		.intro {
			grid-column: 2/3;
			margin: 0 0 3em 0;
		}

		.project .header{
			grid-column: 2/3;
		}

		.project .article{
			grid-column: 2/3;
		}

		.cv-header{
			grid-column: 2/3;
		}

		.cv{
			grid-column: 2/3;
		}

		.colophon {
			grid-column: 2/3;
		}
	}

	@media screen and (min-width: 65em) {

		.site {
			grid-template-columns: auto 40em auto;
		}

		.masthead {
			font-size: 125%;
		}
	}

}