
/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: steelblue;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

:root {
	--base: floralwhite;
	--text: #26334f;
	--highlight: #46A7FB; /*steelblue */
	--highlight-select: gold;
	--highlight-text: midnightblue;
  }

/* @media (prefers-color-scheme: dark) {
	:root{
		--base: #26334f;
		--text: floralwhite;
	}
} */

/*system elements to dark/light prefered mode*/
html{ 
	color-scheme: dark light;
}

body>* {
	box-sizing: border-box;
}
 
body {
	margin: 0;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: clamp(0.95rem, 0.6522rem + 1.391vw, 1.3rem);
	line-height: 1.5;
	background-color: var(--base);
	color: var(--text);
}

body:not(.dark-mode) {
    --base: floralwhite;
    --text: #26334f;
    --switch-image: url(../images/moon.svg);
}

.dark-mode {
    --base: #26334f;
    --text: floralwhite;
    --switch-image: url(../images/sun.svg);
}

h1{
	font-size: 4em; 
}

h2{
	font-size: 2em; 
}

p {
	padding: 0.5em 0;
}

::-moz-selection { /* for Firefox */
	background: var(--highlight-select);
	color: var(--highlight-text);
  }

::selection {
	background: var(--highlight-select);
	color: var(--highlight-text); 
}

img {
	width: 100%;
	height: auto;
}

a {
	color: var(--text);
	cursor: pointer;
	padding: 2px;
	text-decoration: underline;
}

a:hover,
a:focus {
	color: var(--highlight);
}

/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/

/* ------- light/dark mode ------- */


.light-switch-btn {
    position: fixed;
	padding: 0.5em;
	bottom: 0;
	right: 10px;
	cursor: pointer;
    background-color: var(--base);
    border: none;
	border-radius: 10px 10px 0 0;
	z-index: 1;
}

.switch-image {
    width: 27px;
    height: 27px;
    margin: 10px auto;
    background-image: var(--switch-image);
    background-size: cover;
    background-repeat: no-repeat;
}

/* ----- navigation ----- */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
	height: 100px;
}

.home-name{
	text-decoration: none;
}

#home, #cv {
	justify-content: flex-end;
}
  
nav li {
	list-style-type: none;
	float: left;
	padding: 0 15px;
 }
/* ------- intro ------- */

.masthead{
	margin: 3em;
	font-size: 75%;
}

.intro {
	margin: 3em;
}

/* ------- stories ------- */

.blog h2{
	margin: 1em;
}

.posts{
	list-style-type: none;
	padding: 0 2em;
	display:grid;
	grid-template-columns: 1fr;
}

.posts a {
	text-decoration: none;
}

.posts h3, 
.posts p {
	margin: 0;
	padding: 5px 2px;
}
.card{ 
	margin: 0;
	display: grid;
	grid-template-columns: subgrid;
}

.card img{
    padding: 0;
    margin: 0;
	height: 100%;
    min-height: 300px;
	object-fit: cover;
}

/* ----- project ----- */

.project .header .page-title{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding: 2rem;
	max-width: calc(var(--content-width) - 4rem);
  }
  
.project figure {
	margin: 0;
}

.project .full-width img {
	width: 100%;
	height: 600px;
	object-fit: cover;
}

.project main >* {
	padding: 2rem;
}

.project .highlight {
	background-color: var(--highlight);
	color: var(--text);
}

/* ------- sources ------- */
.project .sources h3 {
	padding: 0;
	margin: -20px 0;
}

.project .sources >*{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* ------- share ------- */

.share .btn{
	padding: 10px;
	text-decoration: none;
	border-radius: 5px;
	box-shadow: -5px 5px 9px rgba(0,0,0,0.332);
}

.share .btn:hover{
	padding: 9px;
	border: 2px solid var(--highlight);
}

/* ------- cv ------- */

.cv-header {
	padding: 0 2rem;
}

.cv {
	padding: 2rem;
}

.cv-header h1 {
	font-size: 1.5em;
	font-weight: 300;
}

.cv h2 {
	font-size: 1.25em;
	opacity:0.5;

}

.cv >* {
	margin: 0;
	padding: 0;
}

.cv li >* {
	margin: 0;
	padding: 0;
}

.cv .description {
	margin-bottom: 40px;
}

.cv-update{
	font-size: 75%;
	padding-bottom: 10px;
	opacity:0.5;
}

.cv-section ul {
	list-style-type: none;
	padding:0;
}

.cv .role{
	font-size: 1.2em;
	font-weight: 500;
}

.cv .place{
	font-size: 1em;
}

.cv .date{
	font-style: italic;
	font-size: 75%;
	opacity: 0.5;
	margin-bottom: 10px;
}

@supports (writing-mode:sideways-lr){
	.cv h2{
		writing-mode:sideways-lr;
		text-align: right;
		margin:5px 30px 0 -5px;
	}

	.cv-section{
		display: flex;
	}

	.cv-section >* {
		margin:0;
	}
}


/* @supports (grid-area: auto) {
	.cv{
		display:grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.cv .cv-section{
		grid-column: span 2;
	}

	.cv li{
		display: grid;
		grid-template-columns:subgrid;

	}
} */

/* ------- footer ------- */

.colophon {
	padding: 2em;
	text-align: center;
	border-top: 1px solid var(--text);
}

.colophon p {
	padding: 0;
	font-size: 75%;
}

.confirm-box{
    position: fixed;
    /* bottom: 50%; */
	bottom: 0;
	left:0;
    height: 70px;
	width: 100vw;
    z-index: 2;
    text-align: center;
    background: var(--text);
    color: var(--base);
    font-size: 150%;
	padding:0;
	font-style: normal;
    display: none;
  }

.confirm-box p {
	font-style: normal;
	padding: 0;
}


.colophon .contacts{
	list-style-type: none;
	padding: 0;
    display: flex;
    flex-direction: row;
	justify-content: center;
}

.colophon .contacts svg{
	width: 38px;
    height: auto;
	display: inline-block;
    margin-right: 8px;
	color: var(--text);
}

.colophon .contacts svg:hover{
	opacity: 0.7;
}

@media screen and (min-width: 30em) {
	.footer-info{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	
}

/*--------------------------------------------------------------
Basic responsive layout for all browsers:
--------------------------------------------------------------*/

.site {
	max-width: 50em;
	margin: 0 auto;
}

/*--------------------------------------------------------------
CSS Grid layout for modern browsers:
--------------------------------------------------------------*/

@supports (grid-area: auto) {

	@media screen and (min-width: 40em) {

		.posts{
			gap: 0.5rem;
			grid-template-columns: repeat(2, 1fr);
			/* grid-template-rows: repeat(3, 1fr); */
			/* grid-template-areas: "one two"
								 "thr two"
								 "thr for"; */
		}

		/* .post:nth-child(1){
			grid-area: one;
		}

		.post:nth-child(2){
			grid-area: two;
		}

		.post:nth-child(3){
			grid-area: thr;
		}

		.post:nth-child(4){
			grid-area: for;
		} */

		.posts a {
			padding: 0;
		}

		.card {
			height: 100%;
        }

        .card picture,
        .caption {
            grid-column: 1;
            grid-row: 1;
        }

        .caption {
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items:left;
            opacity: 0;
            padding: 25px;
            background: none;
        }

        .caption p {
            max-width: 90%;
        }

        a:focus .caption,
        a:hover .caption{
            background-color: var(--base);
            color: var(--text);
            opacity: 0.7;
        }
	}

	@media screen and (min-width: 50em) {

		.site {
			max-width: none;
			display: grid;
			grid-template-columns: auto 30em auto;
		}

    	.navigation {
			 grid-column: 1/4;
    	}

		.masthead {
			grid-column: 2/3;
			margin: 0;
			font-size: 100%;
		}

		.blog h2{
			margin: 0;
			font-size: 3em;
		}

		.main-area {
			grid-column: 2/3;
		}

		.intro {
			grid-column: 2/3;
			margin: 0 0 3em 0;
		}

		.project .header{
			grid-column: 2/3;
		}

		.project .article{
			grid-column: 2/3;
		}

		.cv{
			grid-column: 2/3;
		}

		.colophon {
			grid-column: 2/3;
		}
	}

	@media screen and (min-width: 65em) {

		.site {
			grid-template-columns: auto 40em auto;
		}

		.masthead {
			font-size: 125%;
		}
	}

}